@import "_variable";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $mainColor;
}

li {
  list-style: none;
}

#root {
  max-width: 500px;
  margin: 0 auto;
}

input[type="checkbox"] {
  background-color: blueviolet;
}

.Search {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  width: 92%;
  margin: 10px auto;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: $cardColor;
  box-shadow: 0px 2px 9px #64646433;
}

.centerBox {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.nomalButton {
  width: 170px;
  margin: 10px auto 0;
}
.btn-gradient-simple {
  display: inline-block;
  padding: 1em 1em;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(45deg, #4c84fd 0%, #b0c9ff 100%);
  transition: 0.4s;
}

.btn-gradient-simple:hover {
  background-image: linear-gradient(45deg, #4c84fd 50%, #b0c9ff 100%);
}

.View {
  padding: 0 0 45px 0;
}

.ViewList {
  width: 97%;
  margin: 0 auto;
  padding: 0 0 10px 0;

  &__moreButton {
    width: 100%;
    height: 30px;
  }
  &__moreButtonNone {
    display: none;
  }
}

.ViewBox {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 0 12px 0;
  padding: 7px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 7px #151a2456;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: rgb(223, 223, 223);
  }
  &__left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      padding: 10px;
      height: 95px;
    }
  }
  &__right {
    width: 80%;
  }
}

.ViewListResult {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 8px 0;
  background-color: #4c84fd;

  &__tag {
    margin: 10px 15px;
    padding: 0.5em 1em;
    border-radius: 7px;
  }

  &__tagIsNone {
    display: none;
  }

  &__name {
    background-color: #94ee58;
  }
  &__abv {
    background-color: #3dd8cb;
  }
  &__ibu {
    background-color: #32649e;
  }
  &__hop {
    background-color: #f53e6c;
  }
  &__molt {
    background-color: #726b07;
  }
}

.ItemTemplate {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;

  &__head {
    display: inline-block;
    padding: 5px 10px;
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000000cb;
      content: "";
      width: 100%;
      height: 100%;
    }
  }

  &__bottom {
    padding: 0 0 45px 0;
    height: auto;
    background-color: #fcfcfc;

    &--top {
      margin: 0 0 30px 0;
      box-shadow: 1px 1px 7px #6666663b;
    }
  }

  &__img {
    position: relative;
    z-index: 20;
    padding: 30px 50px 30px 0px;
    height: 250px;
  }

  &__AbvIbu {
    position: absolute;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    border: #666666 0.5px solid;
    color: #fcfcfc;
    background-color: #090a0ae0;
    box-shadow: 0px 0px 5px #fcfcfc;

    span {
      position: absolute;
      top: 8px;
      left: 50%;
      color: #979797;
      transform: translateX(-50%);
    }

    p {
      text-align: center;
      display: inline-block;
      position: absolute;
      width: 100%;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
    }
  }

  &__abv {
    top: 30px;
    right: 35px;
  }

  &__ibu {
    bottom: 35px;
    right: 69px;
  }

  &__NameBox {
    position: relative;
    box-shadow: 1px 1px 7px #6666663b;
    padding: 10px 10px;
    margin: 25px 0;
  }

  &__tag {
    margin: 0;
  }

  &__name {
    font-size: 30px;
    margin: 0;
  }

  &__discription {
    background: #f5f5f5;
    padding: 10px;
  }
} //ItemTemplate

.acdItem {
  width: 100%;
  border-bottom: solid 0.5px #7070708a;
  &:not(:first-child) {
    margin-top: 15px;
  }
}

.MuiTypography-body1 {
  width: 100%;
}

.iconBox {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #97ec0e8e;
  font-size: 32px;
  transition: 0.2s;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
  }

  &:active {
    color: #fd934c56;
    font-size: 35px;
  }
}

.iconON {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #ff0909;
  font-size: 35px;
  transition: 0.2s;

  &:active {
    color: #fd934c56;
    font-size: 35px;
  }
}
@import "_common";
